<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <p:growl id="grwErrores"/>
            <c:forEach var="fila" begin="1" end="#{controladorTablero.tamTablero}">
                <c:forEach var="columna" begin="1" end="#{controladorTablero.tamTablero}">
                    <p:commandButton  rendered="#{!controladorTablero.validarCoordenadaOcupada(fila, columna)}"
                        
                                      style="#{controladorTablero.obtenerEstilo(fila, columna)}" value="[#{fila},#{columna}]"
                        action="#{controladorTablero.disparar(fila, columna)}" update="@all"
                                                
                        />
                    <p:commandButton rendered="#{controladorTablero.validarCoordenadaOcupada(fila, columna)}"
                                     disabled="true"
                        style="width: 80px; height: 80px; background-color: red;"                         
                        />
                </c:forEach>
                <br/>
            </c:forEach>
            
            
        </h:form>
    </h:body>
</html>

