<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <c:forEach var="fila" begin="1" end="#{controladorTablero.tamTablero}">
                <c:forEach var="columna" begin="1" end="#{controladorTablero.tamTablero}">
                    <p:commandButton value="[#{fila},#{columna}]" 
                                     style="#{controladorTablero.pintarBarcos(fila, columna)}}"
                                     action="#{controladorTablero.dispararJug1(fila, columna)}"
                                     disabled="#{controladorTablero.verififcarDisparo(fila, columna)}"
                                     update="@all"
                                     />
                </c:forEach>
                
                
                <br/>
            </c:forEach>
        </h:form>
    </h:body>
</html>

